@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 4px;
}
.overflow-y-auto::-webkit-scrollbar-track {
  background: transparent;
}
.overflow-y-auto::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  border-radius: 999px;
}
.overflow-y-auto::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF;
}